@model IEnumerable<PokeBuilder_Auxilium.Models.tp_teampokemon>

@{
    bool f = true;



    foreach (var item in Model)
    {
        string pname = item.p_pokemon.p_name[0].ToString().ToUpper() + item.p_pokemon.p_name.Remove(0, 1);
        string iname = item.i_item.i_name[0].ToString().ToUpper() + item.i_item.i_name.Remove(0, 1);
        string aname = item.a_ability.a_name[0].ToString().ToUpper() + item.a_ability.a_name.Remove(0, 1);
        <tr id=@item.tp_Id style="border-bottom:solid;border-bottom-color:#BC0807;border-bottom-width:thin">
            <td>
                <span class="thCloneSmall">Level @item.tp_Level</span>
                <p class="small">Pokemon:</p>
                <span>@pname</span>
                <p class="small">Item:</p>
                <span>@iname</span>
                <p class="small">Ability:</p>
                <span>@aname</span>
            </td>
            <td>
                @if (!f)
                {
                    <br />
                }
                <table style="width: 90%;">
                    <tbody>
                        @if (f)
                        {
                            <tr>
                                <th width="20%">
                                    Statsname
                                </th>
                                <th width="40%">
                                    Base Stats
                                </th>
                                <th width="40%">
                                    Stats at Pokemons Level
                                </th>
                            </tr>

                        }
                        else
                        {
                            <tr>

                                <th width="20%">

                                </th>
                                <th width="40%">

                                </th>
                                <th width="40%">

                                </th>
                            </tr>
                        }

                        @Html.Partial("~/Views/Shared/_PokemonStatGraph.cshtml", item)

                    </tbody>
                </table>
            </td>
            <td>
                @Ajax.ActionLink("REMOVE", "RemovePokemon","tp_teampokemon", new { id=item.tp_Id }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = ""+item.tp_Id,
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "load"
                }, new { @class="add"})
            </td>
        </tr>

        f = false;
    }
    if (ViewBag.selectedID != null)
    {
        <tr>
            <td>
                <br />
                @Html.ActionLink("ADD POKEMON", "AddTeampokemon", "tp_teampokemon", new { teamID = ViewBag.selectedID }, new { @class = "add" })
            </td>
            <td>
            </td>
            <td>
                <br />
                @{var cookie = HttpContext.Current.Request.Cookies["LikeCoffeeWithMilk"];
                        string mail = null;
                        if (cookie != null)
                        {
                            mail = cookie.Values["mail"];
                        }
                    }
                    @Ajax.ActionLink("DELETE", "DeleteTeam", "Home", new { account = mail, teamID = ViewBag.selectedID }, new AjaxOptions
                    {
                        OnBegin="alertDelete",
                        HttpMethod = "POST",
                        UpdateTargetId = "teamsBox",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess="clearTeamBox",
                        
                    }, new { @class = "add"})
                <script>
                    function clearTeamBox() {
                        document.getElementById("TeampokemonContainer").innerHTML = "";
                    }
                    function alertDelete() {
                        return confirm("Sure to Delete");
                    }
                </script>
            </td>
        </tr>
    }
      
}